@page "/"

<PageTitle>Friends of Award</PageTitle>

<h1>Friends of Award</h1>

<br />Geben sie uns ihre persönlichen Favoriten bekannt!
<br />Einfacher Klick = Favorit (max. 5)
<br />Doppelter Klick = Topfavorit (max. 1)
<br />Diese Abstimmung ist anonym und auf ein Gerät beschränkt.

